@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
a{
  text-decoration: none;
  cursor: pointer;
}
html{
  font-family: "Heebo" , sans-serif;
}

::-webkit-scrollbar{
  display: none;
}